// HELPERS

@import 'bootstrap/normalize'
@import 'bootstrap/mixins'
@import 'bootstrap/variables'
@import 'bootstrap/grid'
@import 'bootstrap/responsive-utilities'

// @import 'animate-stylus/fading_entrances/fadeIn'

// @import 'helpers/ion.rangeSlider'
// @import 'helpers/ion.rangeSlider.skinHTML5'
@import 'helpers/hamburger-icon'

@import 'helpers/variables'
@import 'helpers/mixins'
@import 'helpers/fonts'
@import 'helpers/sprites'
// @import 'helpers/animate'
@import 'helpers/slick'
@import 'helpers/fancybox'
@import 'helpers/datepicker'

@import 'base'

// LAYOUT

@import 'header'
@import 'footer'
@import 'content'
