/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$calendar_white_name = 'calendar-white';
$calendar_white_x = 146px;
$calendar_white_y = 186px;
$calendar_white_offset_x = -146px;
$calendar_white_offset_y = -186px;
$calendar_white_width = 17px;
$calendar_white_height = 17px;
$calendar_white_total_width = 233px;
$calendar_white_total_height = 230px;
$calendar_white_image = '../images/sprites/sprites.png';
$calendar_white = 146px 186px -146px -186px 17px 17px 233px 230px '../images/sprites/sprites.png' 'calendar-white';
$calendar_name = 'calendar';
$calendar_x = 168px;
$calendar_y = 186px;
$calendar_offset_x = -168px;
$calendar_offset_y = -186px;
$calendar_width = 17px;
$calendar_height = 17px;
$calendar_total_width = 233px;
$calendar_total_height = 230px;
$calendar_image = '../images/sprites/sprites.png';
$calendar = 168px 186px -168px -186px 17px 17px 233px 230px '../images/sprites/sprites.png' 'calendar';
$check_red_name = 'check-red';
$check_red_x = 125px;
$check_red_y = 104px;
$check_red_offset_x = -125px;
$check_red_offset_y = -104px;
$check_red_width = 13px;
$check_red_height = 11px;
$check_red_total_width = 233px;
$check_red_total_height = 230px;
$check_red_image = '../images/sprites/sprites.png';
$check_red = 125px 104px -125px -104px 13px 11px 233px 230px '../images/sprites/sprites.png' 'check-red';
$cross_gray_name = 'cross-gray';
$cross_gray_x = 108px;
$cross_gray_y = 104px;
$cross_gray_offset_x = -108px;
$cross_gray_offset_y = -104px;
$cross_gray_width = 12px;
$cross_gray_height = 13px;
$cross_gray_total_width = 233px;
$cross_gray_total_height = 230px;
$cross_gray_image = '../images/sprites/sprites.png';
$cross_gray = 108px 104px -108px -104px 12px 13px 233px 230px '../images/sprites/sprites.png' 'cross-gray';
$cross_red_name = 'cross-red';
$cross_red_x = 91px;
$cross_red_y = 104px;
$cross_red_offset_x = -91px;
$cross_red_offset_y = -104px;
$cross_red_width = 12px;
$cross_red_height = 13px;
$cross_red_total_width = 233px;
$cross_red_total_height = 230px;
$cross_red_image = '../images/sprites/sprites.png';
$cross_red = 91px 104px -91px -104px 12px 13px 233px 230px '../images/sprites/sprites.png' 'cross-red';
$cursor_name = 'cursor';
$cursor_x = 0px;
$cursor_y = 0px;
$cursor_offset_x = 0px;
$cursor_offset_y = 0px;
$cursor_width = 79px;
$cursor_height = 67px;
$cursor_total_width = 233px;
$cursor_total_height = 230px;
$cursor_image = '../images/sprites/sprites.png';
$cursor = 0px 0px 0px 0px 79px 67px 233px 230px '../images/sprites/sprites.png' 'cursor';
$fb_color_name = 'fb-color';
$fb_color_x = 133px;
$fb_color_y = 30px;
$fb_color_offset_x = -133px;
$fb_color_offset_y = -30px;
$fb_color_width = 25px;
$fb_color_height = 25px;
$fb_color_total_width = 233px;
$fb_color_total_height = 230px;
$fb_color_image = '../images/sprites/sprites.png';
$fb_color = 133px 30px -133px -30px 25px 25px 233px 230px '../images/sprites/sprites.png' 'fb-color';
$fb_name = 'fb';
$fb_x = 174px;
$fb_y = 136px;
$fb_offset_x = -174px;
$fb_offset_y = -136px;
$fb_width = 10px;
$fb_height = 19px;
$fb_total_width = 233px;
$fb_total_height = 230px;
$fb_image = '../images/sprites/sprites.png';
$fb = 174px 136px -174px -136px 10px 19px 233px 230px '../images/sprites/sprites.png' 'fb';
$feature_icon1_name = 'feature-icon1';
$feature_icon1_x = 163px;
$feature_icon1_y = 64px;
$feature_icon1_offset_x = -163px;
$feature_icon1_offset_y = -64px;
$feature_icon1_width = 21px;
$feature_icon1_height = 27px;
$feature_icon1_total_width = 233px;
$feature_icon1_total_height = 230px;
$feature_icon1_image = '../images/sprites/sprites.png';
$feature_icon1 = 163px 64px -163px -64px 21px 27px 233px 230px '../images/sprites/sprites.png' 'feature-icon1';
$feature_icon2_name = 'feature-icon2';
$feature_icon2_x = 163px;
$feature_icon2_y = 32px;
$feature_icon2_offset_x = -163px;
$feature_icon2_offset_y = -32px;
$feature_icon2_width = 21px;
$feature_icon2_height = 27px;
$feature_icon2_total_width = 233px;
$feature_icon2_total_height = 230px;
$feature_icon2_image = '../images/sprites/sprites.png';
$feature_icon2 = 163px 32px -163px -32px 21px 27px 233px 230px '../images/sprites/sprites.png' 'feature-icon2';
$feature_icon3_name = 'feature-icon3';
$feature_icon3_x = 96px;
$feature_icon3_y = 72px;
$feature_icon3_offset_x = -96px;
$feature_icon3_offset_y = -72px;
$feature_icon3_width = 27px;
$feature_icon3_height = 27px;
$feature_icon3_total_width = 233px;
$feature_icon3_total_height = 230px;
$feature_icon3_image = '../images/sprites/sprites.png';
$feature_icon3 = 96px 72px -96px -72px 27px 27px 233px 230px '../images/sprites/sprites.png' 'feature-icon3';
$feature_icon4_name = 'feature-icon4';
$feature_icon4_x = 163px;
$feature_icon4_y = 0px;
$feature_icon4_offset_x = -163px;
$feature_icon4_offset_y = 0px;
$feature_icon4_width = 21px;
$feature_icon4_height = 27px;
$feature_icon4_total_width = 233px;
$feature_icon4_total_height = 230px;
$feature_icon4_image = '../images/sprites/sprites.png';
$feature_icon4 = 163px 0px -163px 0px 21px 27px 233px 230px '../images/sprites/sprites.png' 'feature-icon4';
$feature_icon5_name = 'feature-icon5';
$feature_icon5_x = 0px;
$feature_icon5_y = 104px;
$feature_icon5_offset_x = 0px;
$feature_icon5_offset_y = -104px;
$feature_icon5_width = 22px;
$feature_icon5_height = 27px;
$feature_icon5_total_width = 233px;
$feature_icon5_total_height = 230px;
$feature_icon5_image = '../images/sprites/sprites.png';
$feature_icon5 = 0px 104px 0px -104px 22px 27px 233px 230px '../images/sprites/sprites.png' 'feature-icon5';
$feature_icon6_name = 'feature-icon6';
$feature_icon6_x = 64px;
$feature_icon6_y = 72px;
$feature_icon6_offset_x = -64px;
$feature_icon6_offset_y = -72px;
$feature_icon6_width = 27px;
$feature_icon6_height = 27px;
$feature_icon6_total_width = 233px;
$feature_icon6_total_height = 230px;
$feature_icon6_image = '../images/sprites/sprites.png';
$feature_icon6 = 64px 72px -64px -72px 27px 27px 233px 230px '../images/sprites/sprites.png' 'feature-icon6';
$feature_icon7_name = 'feature-icon7';
$feature_icon7_x = 32px;
$feature_icon7_y = 72px;
$feature_icon7_offset_x = -32px;
$feature_icon7_offset_y = -72px;
$feature_icon7_width = 27px;
$feature_icon7_height = 27px;
$feature_icon7_total_width = 233px;
$feature_icon7_total_height = 230px;
$feature_icon7_image = '../images/sprites/sprites.png';
$feature_icon7 = 32px 72px -32px -72px 27px 27px 233px 230px '../images/sprites/sprites.png' 'feature-icon7';
$feature_icon8_name = 'feature-icon8';
$feature_icon8_x = 27px;
$feature_icon8_y = 104px;
$feature_icon8_offset_x = -27px;
$feature_icon8_offset_y = -104px;
$feature_icon8_width = 30px;
$feature_icon8_height = 19px;
$feature_icon8_total_width = 233px;
$feature_icon8_total_height = 230px;
$feature_icon8_image = '../images/sprites/sprites.png';
$feature_icon8 = 27px 104px -27px -104px 30px 19px 233px 230px '../images/sprites/sprites.png' 'feature-icon8';
$feature_icon9_name = 'feature-icon9';
$feature_icon9_x = 0px;
$feature_icon9_y = 72px;
$feature_icon9_offset_x = 0px;
$feature_icon9_offset_y = -72px;
$feature_icon9_width = 27px;
$feature_icon9_height = 27px;
$feature_icon9_total_width = 233px;
$feature_icon9_total_height = 230px;
$feature_icon9_image = '../images/sprites/sprites.png';
$feature_icon9 = 0px 72px 0px -72px 27px 27px 233px 230px '../images/sprites/sprites.png' 'feature-icon9';
$inst_color_name = 'inst-color';
$inst_color_x = 133px;
$inst_color_y = 0px;
$inst_color_offset_x = -133px;
$inst_color_offset_y = 0px;
$inst_color_width = 25px;
$inst_color_height = 25px;
$inst_color_total_width = 233px;
$inst_color_total_height = 230px;
$inst_color_image = '../images/sprites/sprites.png';
$inst_color = 133px 0px -133px 0px 25px 25px 233px 230px '../images/sprites/sprites.png' 'inst-color';
$inst_name = 'inst';
$inst_x = 214px;
$inst_y = 176px;
$inst_offset_x = -214px;
$inst_offset_y = -176px;
$inst_width = 18px;
$inst_height = 19px;
$inst_total_width = 233px;
$inst_total_height = 230px;
$inst_image = '../images/sprites/sprites.png';
$inst = 214px 176px -214px -176px 18px 19px 233px 230px '../images/sprites/sprites.png' 'inst';
$list_white_name = 'list-white';
$list_white_x = 100px;
$list_white_y = 186px;
$list_white_offset_x = -100px;
$list_white_offset_y = -186px;
$list_white_width = 18px;
$list_white_height = 17px;
$list_white_total_width = 233px;
$list_white_total_height = 230px;
$list_white_image = '../images/sprites/sprites.png';
$list_white = 100px 186px -100px -186px 18px 17px 233px 230px '../images/sprites/sprites.png' 'list-white';
$list_name = 'list';
$list_x = 123px;
$list_y = 186px;
$list_offset_x = -123px;
$list_offset_y = -186px;
$list_width = 18px;
$list_height = 17px;
$list_total_width = 233px;
$list_total_height = 230px;
$list_image = '../images/sprites/sprites.png';
$list = 123px 186px -123px -186px 18px 17px 233px 230px '../images/sprites/sprites.png' 'list';
$mouse_name = 'mouse';
$mouse_x = 84px;
$mouse_y = 0px;
$mouse_offset_x = -84px;
$mouse_offset_y = 0px;
$mouse_width = 44px;
$mouse_height = 62px;
$mouse_total_width = 233px;
$mouse_total_height = 230px;
$mouse_image = '../images/sprites/sprites.png';
$mouse = 84px 0px -84px 0px 44px 62px 233px 230px '../images/sprites/sprites.png' 'mouse';
$phone_name = 'phone';
$phone_x = 214px;
$phone_y = 0px;
$phone_offset_x = -214px;
$phone_offset_y = 0px;
$phone_width = 19px;
$phone_height = 21px;
$phone_total_width = 233px;
$phone_total_height = 230px;
$phone_image = '../images/sprites/sprites.png';
$phone = 214px 0px -214px 0px 19px 21px 233px 230px '../images/sprites/sprites.png' 'phone';
$system_icon1_hover_name = 'system-icon1-hover';
$system_icon1_hover_x = 130px;
$system_icon1_hover_y = 161px;
$system_icon1_hover_offset_x = -130px;
$system_icon1_hover_offset_y = -161px;
$system_icon1_hover_width = 21px;
$system_icon1_hover_height = 20px;
$system_icon1_hover_total_width = 233px;
$system_icon1_hover_total_height = 230px;
$system_icon1_hover_image = '../images/sprites/sprites.png';
$system_icon1_hover = 130px 161px -130px -161px 21px 20px 233px 230px '../images/sprites/sprites.png' 'system-icon1-hover';
$system_icon1_white_name = 'system-icon1-white';
$system_icon1_white_x = 0px;
$system_icon1_white_y = 161px;
$system_icon1_white_offset_x = 0px;
$system_icon1_white_offset_y = -161px;
$system_icon1_white_width = 21px;
$system_icon1_white_height = 20px;
$system_icon1_white_total_width = 233px;
$system_icon1_white_total_height = 230px;
$system_icon1_white_image = '../images/sprites/sprites.png';
$system_icon1_white = 0px 161px 0px -161px 21px 20px 233px 230px '../images/sprites/sprites.png' 'system-icon1-white';
$system_icon1_name = 'system-icon1';
$system_icon1_x = 26px;
$system_icon1_y = 161px;
$system_icon1_offset_x = -26px;
$system_icon1_offset_y = -161px;
$system_icon1_width = 21px;
$system_icon1_height = 20px;
$system_icon1_total_width = 233px;
$system_icon1_total_height = 230px;
$system_icon1_image = '../images/sprites/sprites.png';
$system_icon1 = 26px 161px -26px -161px 21px 20px 233px 230px '../images/sprites/sprites.png' 'system-icon1';
$system_icon10_hover_name = 'system-icon10-hover';
$system_icon10_hover_x = 52px;
$system_icon10_hover_y = 161px;
$system_icon10_hover_offset_x = -52px;
$system_icon10_hover_offset_y = -161px;
$system_icon10_hover_width = 21px;
$system_icon10_hover_height = 20px;
$system_icon10_hover_total_width = 233px;
$system_icon10_hover_total_height = 230px;
$system_icon10_hover_image = '../images/sprites/sprites.png';
$system_icon10_hover = 52px 161px -52px -161px 21px 20px 233px 230px '../images/sprites/sprites.png' 'system-icon10-hover';
$system_icon10_white_name = 'system-icon10-white';
$system_icon10_white_x = 78px;
$system_icon10_white_y = 161px;
$system_icon10_white_offset_x = -78px;
$system_icon10_white_offset_y = -161px;
$system_icon10_white_width = 21px;
$system_icon10_white_height = 20px;
$system_icon10_white_total_width = 233px;
$system_icon10_white_total_height = 230px;
$system_icon10_white_image = '../images/sprites/sprites.png';
$system_icon10_white = 78px 161px -78px -161px 21px 20px 233px 230px '../images/sprites/sprites.png' 'system-icon10-white';
$system_icon10_name = 'system-icon10';
$system_icon10_x = 104px;
$system_icon10_y = 161px;
$system_icon10_offset_x = -104px;
$system_icon10_offset_y = -161px;
$system_icon10_width = 21px;
$system_icon10_height = 20px;
$system_icon10_total_width = 233px;
$system_icon10_total_height = 230px;
$system_icon10_image = '../images/sprites/sprites.png';
$system_icon10 = 104px 161px -104px -161px 21px 20px 233px 230px '../images/sprites/sprites.png' 'system-icon10';
$system_icon2_hover_name = 'system-icon2-hover';
$system_icon2_hover_x = 189px;
$system_icon2_hover_y = 128px;
$system_icon2_hover_offset_x = -189px;
$system_icon2_hover_offset_y = -128px;
$system_icon2_hover_width = 20px;
$system_icon2_hover_height = 20px;
$system_icon2_hover_total_width = 233px;
$system_icon2_hover_total_height = 230px;
$system_icon2_hover_image = '../images/sprites/sprites.png';
$system_icon2_hover = 189px 128px -189px -128px 20px 20px 233px 230px '../images/sprites/sprites.png' 'system-icon2-hover';
$system_icon2_white_name = 'system-icon2-white';
$system_icon2_white_x = 189px;
$system_icon2_white_y = 153px;
$system_icon2_white_offset_x = -189px;
$system_icon2_white_offset_y = -153px;
$system_icon2_white_width = 20px;
$system_icon2_white_height = 20px;
$system_icon2_white_total_width = 233px;
$system_icon2_white_total_height = 230px;
$system_icon2_white_image = '../images/sprites/sprites.png';
$system_icon2_white = 189px 153px -189px -153px 20px 20px 233px 230px '../images/sprites/sprites.png' 'system-icon2-white';
$system_icon2_name = 'system-icon2';
$system_icon2_x = 189px;
$system_icon2_y = 78px;
$system_icon2_offset_x = -189px;
$system_icon2_offset_y = -78px;
$system_icon2_width = 20px;
$system_icon2_height = 20px;
$system_icon2_total_width = 233px;
$system_icon2_total_height = 230px;
$system_icon2_image = '../images/sprites/sprites.png';
$system_icon2 = 189px 78px -189px -78px 20px 20px 233px 230px '../images/sprites/sprites.png' 'system-icon2';
$system_icon3_hover_name = 'system-icon3-hover';
$system_icon3_hover_x = 118px;
$system_icon3_hover_y = 136px;
$system_icon3_hover_offset_x = -118px;
$system_icon3_hover_offset_y = -136px;
$system_icon3_hover_width = 23px;
$system_icon3_hover_height = 20px;
$system_icon3_hover_total_width = 233px;
$system_icon3_hover_total_height = 230px;
$system_icon3_hover_image = '../images/sprites/sprites.png';
$system_icon3_hover = 118px 136px -118px -136px 23px 20px 233px 230px '../images/sprites/sprites.png' 'system-icon3-hover';
$system_icon3_white_name = 'system-icon3-white';
$system_icon3_white_x = 146px;
$system_icon3_white_y = 136px;
$system_icon3_white_offset_x = -146px;
$system_icon3_white_offset_y = -136px;
$system_icon3_white_width = 23px;
$system_icon3_white_height = 20px;
$system_icon3_white_total_width = 233px;
$system_icon3_white_total_height = 230px;
$system_icon3_white_image = '../images/sprites/sprites.png';
$system_icon3_white = 146px 136px -146px -136px 23px 20px 233px 230px '../images/sprites/sprites.png' 'system-icon3-white';
$system_icon3_name = 'system-icon3';
$system_icon3_x = 90px;
$system_icon3_y = 136px;
$system_icon3_offset_x = -90px;
$system_icon3_offset_y = -136px;
$system_icon3_width = 23px;
$system_icon3_height = 20px;
$system_icon3_total_width = 233px;
$system_icon3_total_height = 230px;
$system_icon3_image = '../images/sprites/sprites.png';
$system_icon3 = 90px 136px -90px -136px 23px 20px 233px 230px '../images/sprites/sprites.png' 'system-icon3';
$system_icon4_hover_name = 'system-icon4-hover';
$system_icon4_hover_x = 156px;
$system_icon4_hover_y = 161px;
$system_icon4_hover_offset_x = -156px;
$system_icon4_hover_offset_y = -161px;
$system_icon4_hover_width = 20px;
$system_icon4_hover_height = 20px;
$system_icon4_hover_total_width = 233px;
$system_icon4_hover_total_height = 230px;
$system_icon4_hover_image = '../images/sprites/sprites.png';
$system_icon4_hover = 156px 161px -156px -161px 20px 20px 233px 230px '../images/sprites/sprites.png' 'system-icon4-hover';
$system_icon4_white_name = 'system-icon4-white';
$system_icon4_white_x = 0px;
$system_icon4_white_y = 186px;
$system_icon4_white_offset_x = 0px;
$system_icon4_white_offset_y = -186px;
$system_icon4_white_width = 20px;
$system_icon4_white_height = 20px;
$system_icon4_white_total_width = 233px;
$system_icon4_white_total_height = 230px;
$system_icon4_white_image = '../images/sprites/sprites.png';
$system_icon4_white = 0px 186px 0px -186px 20px 20px 233px 230px '../images/sprites/sprites.png' 'system-icon4-white';
$system_icon4_name = 'system-icon4';
$system_icon4_x = 25px;
$system_icon4_y = 186px;
$system_icon4_offset_x = -25px;
$system_icon4_offset_y = -186px;
$system_icon4_width = 20px;
$system_icon4_height = 20px;
$system_icon4_total_width = 233px;
$system_icon4_total_height = 230px;
$system_icon4_image = '../images/sprites/sprites.png';
$system_icon4 = 25px 186px -25px -186px 20px 20px 233px 230px '../images/sprites/sprites.png' 'system-icon4';
$system_icon5_hover_name = 'system-icon5-hover';
$system_icon5_hover_x = 214px;
$system_icon5_hover_y = 76px;
$system_icon5_hover_offset_x = -214px;
$system_icon5_hover_offset_y = -76px;
$system_icon5_hover_width = 18px;
$system_icon5_hover_height = 20px;
$system_icon5_hover_total_width = 233px;
$system_icon5_hover_total_height = 230px;
$system_icon5_hover_image = '../images/sprites/sprites.png';
$system_icon5_hover = 214px 76px -214px -76px 18px 20px 233px 230px '../images/sprites/sprites.png' 'system-icon5-hover';
$system_icon5_white_name = 'system-icon5-white';
$system_icon5_white_x = 214px;
$system_icon5_white_y = 151px;
$system_icon5_white_offset_x = -214px;
$system_icon5_white_offset_y = -151px;
$system_icon5_white_width = 18px;
$system_icon5_white_height = 20px;
$system_icon5_white_total_width = 233px;
$system_icon5_white_total_height = 230px;
$system_icon5_white_image = '../images/sprites/sprites.png';
$system_icon5_white = 214px 151px -214px -151px 18px 20px 233px 230px '../images/sprites/sprites.png' 'system-icon5-white';
$system_icon5_name = 'system-icon5';
$system_icon5_x = 214px;
$system_icon5_y = 51px;
$system_icon5_offset_x = -214px;
$system_icon5_offset_y = -51px;
$system_icon5_width = 18px;
$system_icon5_height = 20px;
$system_icon5_total_width = 233px;
$system_icon5_total_height = 230px;
$system_icon5_image = '../images/sprites/sprites.png';
$system_icon5 = 214px 51px -214px -51px 18px 20px 233px 230px '../images/sprites/sprites.png' 'system-icon5';
$system_icon6_hover_name = 'system-icon6-hover';
$system_icon6_hover_x = 75px;
$system_icon6_hover_y = 186px;
$system_icon6_hover_offset_x = -75px;
$system_icon6_hover_offset_y = -186px;
$system_icon6_hover_width = 20px;
$system_icon6_hover_height = 20px;
$system_icon6_hover_total_width = 233px;
$system_icon6_hover_total_height = 230px;
$system_icon6_hover_image = '../images/sprites/sprites.png';
$system_icon6_hover = 75px 186px -75px -186px 20px 20px 233px 230px '../images/sprites/sprites.png' 'system-icon6-hover';
$system_icon6_white_name = 'system-icon6-white';
$system_icon6_white_x = 189px;
$system_icon6_white_y = 103px;
$system_icon6_white_offset_x = -189px;
$system_icon6_white_offset_y = -103px;
$system_icon6_white_width = 20px;
$system_icon6_white_height = 20px;
$system_icon6_white_total_width = 233px;
$system_icon6_white_total_height = 230px;
$system_icon6_white_image = '../images/sprites/sprites.png';
$system_icon6_white = 189px 103px -189px -103px 20px 20px 233px 230px '../images/sprites/sprites.png' 'system-icon6-white';
$system_icon6_name = 'system-icon6';
$system_icon6_x = 50px;
$system_icon6_y = 186px;
$system_icon6_offset_x = -50px;
$system_icon6_offset_y = -186px;
$system_icon6_width = 20px;
$system_icon6_height = 20px;
$system_icon6_total_width = 233px;
$system_icon6_total_height = 230px;
$system_icon6_image = '../images/sprites/sprites.png';
$system_icon6 = 50px 186px -50px -186px 20px 20px 233px 230px '../images/sprites/sprites.png' 'system-icon6';
$system_icon7_hover_name = 'system-icon7-hover';
$system_icon7_hover_x = 60px;
$system_icon7_hover_y = 136px;
$system_icon7_hover_offset_x = -60px;
$system_icon7_hover_offset_y = -136px;
$system_icon7_hover_width = 25px;
$system_icon7_hover_height = 20px;
$system_icon7_hover_total_width = 233px;
$system_icon7_hover_total_height = 230px;
$system_icon7_hover_image = '../images/sprites/sprites.png';
$system_icon7_hover = 60px 136px -60px -136px 25px 20px 233px 230px '../images/sprites/sprites.png' 'system-icon7-hover';
$system_icon7_white_name = 'system-icon7-white';
$system_icon7_white_x = 30px;
$system_icon7_white_y = 136px;
$system_icon7_white_offset_x = -30px;
$system_icon7_white_offset_y = -136px;
$system_icon7_white_width = 25px;
$system_icon7_white_height = 20px;
$system_icon7_white_total_width = 233px;
$system_icon7_white_total_height = 230px;
$system_icon7_white_image = '../images/sprites/sprites.png';
$system_icon7_white = 30px 136px -30px -136px 25px 20px 233px 230px '../images/sprites/sprites.png' 'system-icon7-white';
$system_icon7_name = 'system-icon7';
$system_icon7_x = 0px;
$system_icon7_y = 136px;
$system_icon7_offset_x = 0px;
$system_icon7_offset_y = -136px;
$system_icon7_width = 25px;
$system_icon7_height = 20px;
$system_icon7_total_width = 233px;
$system_icon7_total_height = 230px;
$system_icon7_image = '../images/sprites/sprites.png';
$system_icon7 = 0px 136px 0px -136px 25px 20px 233px 230px '../images/sprites/sprites.png' 'system-icon7';
$system_icon8_hover_name = 'system-icon8-hover';
$system_icon8_hover_x = 189px;
$system_icon8_hover_y = 0px;
$system_icon8_hover_offset_x = -189px;
$system_icon8_hover_offset_y = 0px;
$system_icon8_hover_width = 20px;
$system_icon8_hover_height = 21px;
$system_icon8_hover_total_width = 233px;
$system_icon8_hover_total_height = 230px;
$system_icon8_hover_image = '../images/sprites/sprites.png';
$system_icon8_hover = 189px 0px -189px 0px 20px 21px 233px 230px '../images/sprites/sprites.png' 'system-icon8-hover';
$system_icon8_white_name = 'system-icon8-white';
$system_icon8_white_x = 189px;
$system_icon8_white_y = 26px;
$system_icon8_white_offset_x = -189px;
$system_icon8_white_offset_y = -26px;
$system_icon8_white_width = 20px;
$system_icon8_white_height = 21px;
$system_icon8_white_total_width = 233px;
$system_icon8_white_total_height = 230px;
$system_icon8_white_image = '../images/sprites/sprites.png';
$system_icon8_white = 189px 26px -189px -26px 20px 21px 233px 230px '../images/sprites/sprites.png' 'system-icon8-white';
$system_icon8_name = 'system-icon8';
$system_icon8_x = 189px;
$system_icon8_y = 52px;
$system_icon8_offset_x = -189px;
$system_icon8_offset_y = -52px;
$system_icon8_width = 20px;
$system_icon8_height = 21px;
$system_icon8_total_width = 233px;
$system_icon8_total_height = 230px;
$system_icon8_image = '../images/sprites/sprites.png';
$system_icon8 = 189px 52px -189px -52px 20px 21px 233px 230px '../images/sprites/sprites.png' 'system-icon8';
$system_icon9_hover_name = 'system-icon9-hover';
$system_icon9_hover_x = 214px;
$system_icon9_hover_y = 26px;
$system_icon9_hover_offset_x = -214px;
$system_icon9_hover_offset_y = -26px;
$system_icon9_hover_width = 18px;
$system_icon9_hover_height = 20px;
$system_icon9_hover_total_width = 233px;
$system_icon9_hover_total_height = 230px;
$system_icon9_hover_image = '../images/sprites/sprites.png';
$system_icon9_hover = 214px 26px -214px -26px 18px 20px 233px 230px '../images/sprites/sprites.png' 'system-icon9-hover';
$system_icon9_white_name = 'system-icon9-white';
$system_icon9_white_x = 214px;
$system_icon9_white_y = 126px;
$system_icon9_white_offset_x = -214px;
$system_icon9_white_offset_y = -126px;
$system_icon9_white_width = 18px;
$system_icon9_white_height = 20px;
$system_icon9_white_total_width = 233px;
$system_icon9_white_total_height = 230px;
$system_icon9_white_image = '../images/sprites/sprites.png';
$system_icon9_white = 214px 126px -214px -126px 18px 20px 233px 230px '../images/sprites/sprites.png' 'system-icon9-white';
$system_icon9_name = 'system-icon9';
$system_icon9_x = 214px;
$system_icon9_y = 101px;
$system_icon9_offset_x = -214px;
$system_icon9_offset_y = -101px;
$system_icon9_width = 18px;
$system_icon9_height = 20px;
$system_icon9_total_width = 233px;
$system_icon9_total_height = 230px;
$system_icon9_image = '../images/sprites/sprites.png';
$system_icon9 = 214px 101px -214px -101px 18px 20px 233px 230px '../images/sprites/sprites.png' 'system-icon9';
$triangle_name = 'triangle';
$triangle_x = 163px;
$triangle_y = 96px;
$triangle_offset_x = -163px;
$triangle_offset_y = -96px;
$triangle_width = 17px;
$triangle_height = 28px;
$triangle_total_width = 233px;
$triangle_total_height = 230px;
$triangle_image = '../images/sprites/sprites.png';
$triangle = 163px 96px -163px -96px 17px 28px 233px 230px '../images/sprites/sprites.png' 'triangle';
$user_black_name = 'user-black';
$user_black_x = 42px;
$user_black_y = 211px;
$user_black_offset_x = -42px;
$user_black_offset_y = -211px;
$user_black_width = 16px;
$user_black_height = 19px;
$user_black_total_width = 233px;
$user_black_total_height = 230px;
$user_black_image = '../images/sprites/sprites.png';
$user_black = 42px 211px -42px -211px 16px 19px 233px 230px '../images/sprites/sprites.png' 'user-black';
$user_orange_name = 'user-orange';
$user_orange_x = 21px;
$user_orange_y = 211px;
$user_orange_offset_x = -21px;
$user_orange_offset_y = -211px;
$user_orange_width = 16px;
$user_orange_height = 19px;
$user_orange_total_width = 233px;
$user_orange_total_height = 230px;
$user_orange_image = '../images/sprites/sprites.png';
$user_orange = 21px 211px -21px -211px 16px 19px 233px 230px '../images/sprites/sprites.png' 'user-orange';
$user_name = 'user';
$user_x = 0px;
$user_y = 211px;
$user_offset_x = 0px;
$user_offset_y = -211px;
$user_width = 16px;
$user_height = 19px;
$user_total_width = 233px;
$user_total_height = 230px;
$user_image = '../images/sprites/sprites.png';
$user = 0px 211px 0px -211px 16px 19px 233px 230px '../images/sprites/sprites.png' 'user';
$vk_color_name = 'vk-color';
$vk_color_x = 133px;
$vk_color_y = 60px;
$vk_color_offset_x = -133px;
$vk_color_offset_y = -60px;
$vk_color_width = 25px;
$vk_color_height = 25px;
$vk_color_total_width = 233px;
$vk_color_total_height = 230px;
$vk_color_image = '../images/sprites/sprites.png';
$vk_color = 133px 60px -133px -60px 25px 25px 233px 230px '../images/sprites/sprites.png' 'vk-color';
$vk_name = 'vk';
$vk_x = 62px;
$vk_y = 104px;
$vk_offset_x = -62px;
$vk_offset_y = -104px;
$vk_width = 24px;
$vk_height = 15px;
$vk_total_width = 233px;
$vk_total_height = 230px;
$vk_image = '../images/sprites/sprites.png';
$vk = 62px 104px -62px -104px 24px 15px 233px 230px '../images/sprites/sprites.png' 'vk';
$spritesheet_width = 233px;
$spritesheet_height = 230px;
$spritesheet_image = '../images/sprites/sprites.png';
$spritesheet_sprites = $calendar_white $calendar $check_red $cross_gray $cross_red $cursor $fb_color $fb $feature_icon1 $feature_icon2 $feature_icon3 $feature_icon4 $feature_icon5 $feature_icon6 $feature_icon7 $feature_icon8 $feature_icon9 $inst_color $inst $list_white $list $mouse $phone $system_icon1_hover $system_icon1_white $system_icon1 $system_icon10_hover $system_icon10_white $system_icon10 $system_icon2_hover $system_icon2_white $system_icon2 $system_icon3_hover $system_icon3_white $system_icon3 $system_icon4_hover $system_icon4_white $system_icon4 $system_icon5_hover $system_icon5_white $system_icon5 $system_icon6_hover $system_icon6_white $system_icon6 $system_icon7_hover $system_icon7_white $system_icon7 $system_icon8_hover $system_icon8_white $system_icon8 $system_icon9_hover $system_icon9_white $system_icon9 $triangle $user_black $user_orange $user $vk_color $vk;
$spritesheet = 233px 230px '../images/sprites/sprites.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
