/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$calendar_white_name = 'calendar-white';
$calendar_white_x = 192px;
$calendar_white_y = 105px;
$calendar_white_offset_x = -192px;
$calendar_white_offset_y = -105px;
$calendar_white_width = 17px;
$calendar_white_height = 17px;
$calendar_white_total_width = 234px;
$calendar_white_total_height = 234px;
$calendar_white_image = '../images/sprites/sprites.png';
$calendar_white = 192px 105px -192px -105px 17px 17px 234px 234px '../images/sprites/sprites.png' 'calendar-white';
$calendar_name = 'calendar';
$calendar_x = 192px;
$calendar_y = 127px;
$calendar_offset_x = -192px;
$calendar_offset_y = -127px;
$calendar_width = 17px;
$calendar_height = 17px;
$calendar_total_width = 234px;
$calendar_total_height = 234px;
$calendar_image = '../images/sprites/sprites.png';
$calendar = 192px 127px -192px -127px 17px 17px 234px 234px '../images/sprites/sprites.png' 'calendar';
$check_red_name = 'check-red';
$check_red_x = 92px;
$check_red_y = 214px;
$check_red_offset_x = -92px;
$check_red_offset_y = -214px;
$check_red_width = 13px;
$check_red_height = 11px;
$check_red_total_width = 234px;
$check_red_total_height = 234px;
$check_red_image = '../images/sprites/sprites.png';
$check_red = 92px 214px -92px -214px 13px 11px 234px 234px '../images/sprites/sprites.png' 'check-red';
$checkbox_checked_name = 'checkbox-checked';
$checkbox_checked_x = 0px;
$checkbox_checked_y = 72px;
$checkbox_checked_offset_x = 0px;
$checkbox_checked_offset_y = -72px;
$checkbox_checked_width = 30px;
$checkbox_checked_height = 30px;
$checkbox_checked_total_width = 234px;
$checkbox_checked_total_height = 234px;
$checkbox_checked_image = '../images/sprites/sprites.png';
$checkbox_checked = 0px 72px 0px -72px 30px 30px 234px 234px '../images/sprites/sprites.png' 'checkbox-checked';
$checkbox_name = 'checkbox';
$checkbox_x = 35px;
$checkbox_y = 72px;
$checkbox_offset_x = -35px;
$checkbox_offset_y = -72px;
$checkbox_width = 30px;
$checkbox_height = 30px;
$checkbox_total_width = 234px;
$checkbox_total_height = 234px;
$checkbox_image = '../images/sprites/sprites.png';
$checkbox = 35px 72px -35px -72px 30px 30px 234px 234px '../images/sprites/sprites.png' 'checkbox';
$cross_gray_name = 'cross-gray';
$cross_gray_x = 141px;
$cross_gray_y = 107px;
$cross_gray_offset_x = -141px;
$cross_gray_offset_y = -107px;
$cross_gray_width = 12px;
$cross_gray_height = 13px;
$cross_gray_total_width = 234px;
$cross_gray_total_height = 234px;
$cross_gray_image = '../images/sprites/sprites.png';
$cross_gray = 141px 107px -141px -107px 12px 13px 234px 234px '../images/sprites/sprites.png' 'cross-gray';
$cross_red_name = 'cross-red';
$cross_red_x = 124px;
$cross_red_y = 107px;
$cross_red_offset_x = -124px;
$cross_red_offset_y = -107px;
$cross_red_width = 12px;
$cross_red_height = 13px;
$cross_red_total_width = 234px;
$cross_red_total_height = 234px;
$cross_red_image = '../images/sprites/sprites.png';
$cross_red = 124px 107px -124px -107px 12px 13px 234px 234px '../images/sprites/sprites.png' 'cross-red';
$cursor_name = 'cursor';
$cursor_x = 0px;
$cursor_y = 0px;
$cursor_offset_x = 0px;
$cursor_offset_y = 0px;
$cursor_width = 79px;
$cursor_height = 67px;
$cursor_total_width = 234px;
$cursor_total_height = 234px;
$cursor_image = '../images/sprites/sprites.png';
$cursor = 0px 0px 0px 0px 79px 67px 234px 234px '../images/sprites/sprites.png' 'cursor';
$fb_color_name = 'fb-color';
$fb_color_x = 102px;
$fb_color_y = 72px;
$fb_color_offset_x = -102px;
$fb_color_offset_y = -72px;
$fb_color_width = 25px;
$fb_color_height = 25px;
$fb_color_total_width = 234px;
$fb_color_total_height = 234px;
$fb_color_image = '../images/sprites/sprites.png';
$fb_color = 102px 72px -102px -72px 25px 25px 234px 234px '../images/sprites/sprites.png' 'fb-color';
$fb_name = 'fb';
$fb_x = 174px;
$fb_y = 137px;
$fb_offset_x = -174px;
$fb_offset_y = -137px;
$fb_width = 10px;
$fb_height = 19px;
$fb_total_width = 234px;
$fb_total_height = 234px;
$fb_image = '../images/sprites/sprites.png';
$fb = 174px 137px -174px -137px 10px 19px 234px 234px '../images/sprites/sprites.png' 'fb';
$feature_icon1_name = 'feature-icon1';
$feature_icon1_x = 165px;
$feature_icon1_y = 96px;
$feature_icon1_offset_x = -165px;
$feature_icon1_offset_y = -96px;
$feature_icon1_width = 21px;
$feature_icon1_height = 27px;
$feature_icon1_total_width = 234px;
$feature_icon1_total_height = 234px;
$feature_icon1_image = '../images/sprites/sprites.png';
$feature_icon1 = 165px 96px -165px -96px 21px 27px 234px 234px '../images/sprites/sprites.png' 'feature-icon1';
$feature_icon2_name = 'feature-icon2';
$feature_icon2_x = 165px;
$feature_icon2_y = 64px;
$feature_icon2_offset_x = -165px;
$feature_icon2_offset_y = -64px;
$feature_icon2_width = 21px;
$feature_icon2_height = 27px;
$feature_icon2_total_width = 234px;
$feature_icon2_total_height = 234px;
$feature_icon2_image = '../images/sprites/sprites.png';
$feature_icon2 = 165px 64px -165px -64px 21px 27px 234px 234px '../images/sprites/sprites.png' 'feature-icon2';
$feature_icon3_name = 'feature-icon3';
$feature_icon3_x = 133px;
$feature_icon3_y = 32px;
$feature_icon3_offset_x = -133px;
$feature_icon3_offset_y = -32px;
$feature_icon3_width = 27px;
$feature_icon3_height = 27px;
$feature_icon3_total_width = 234px;
$feature_icon3_total_height = 234px;
$feature_icon3_image = '../images/sprites/sprites.png';
$feature_icon3 = 133px 32px -133px -32px 27px 27px 234px 234px '../images/sprites/sprites.png' 'feature-icon3';
$feature_icon4_name = 'feature-icon4';
$feature_icon4_x = 165px;
$feature_icon4_y = 32px;
$feature_icon4_offset_x = -165px;
$feature_icon4_offset_y = -32px;
$feature_icon4_width = 21px;
$feature_icon4_height = 27px;
$feature_icon4_total_width = 234px;
$feature_icon4_total_height = 234px;
$feature_icon4_image = '../images/sprites/sprites.png';
$feature_icon4 = 165px 32px -165px -32px 21px 27px 234px 234px '../images/sprites/sprites.png' 'feature-icon4';
$feature_icon5_name = 'feature-icon5';
$feature_icon5_x = 165px;
$feature_icon5_y = 0px;
$feature_icon5_offset_x = -165px;
$feature_icon5_offset_y = 0px;
$feature_icon5_width = 22px;
$feature_icon5_height = 27px;
$feature_icon5_total_width = 234px;
$feature_icon5_total_height = 234px;
$feature_icon5_image = '../images/sprites/sprites.png';
$feature_icon5 = 165px 0px -165px 0px 22px 27px 234px 234px '../images/sprites/sprites.png' 'feature-icon5';
$feature_icon6_name = 'feature-icon6';
$feature_icon6_x = 133px;
$feature_icon6_y = 0px;
$feature_icon6_offset_x = -133px;
$feature_icon6_offset_y = 0px;
$feature_icon6_width = 27px;
$feature_icon6_height = 27px;
$feature_icon6_total_width = 234px;
$feature_icon6_total_height = 234px;
$feature_icon6_image = '../images/sprites/sprites.png';
$feature_icon6 = 133px 0px -133px 0px 27px 27px 234px 234px '../images/sprites/sprites.png' 'feature-icon6';
$feature_icon7_name = 'feature-icon7';
$feature_icon7_x = 70px;
$feature_icon7_y = 72px;
$feature_icon7_offset_x = -70px;
$feature_icon7_offset_y = -72px;
$feature_icon7_width = 27px;
$feature_icon7_height = 27px;
$feature_icon7_total_width = 234px;
$feature_icon7_total_height = 234px;
$feature_icon7_image = '../images/sprites/sprites.png';
$feature_icon7 = 70px 72px -70px -72px 27px 27px 234px 234px '../images/sprites/sprites.png' 'feature-icon7';
$feature_icon8_name = 'feature-icon8';
$feature_icon8_x = 60px;
$feature_icon8_y = 107px;
$feature_icon8_offset_x = -60px;
$feature_icon8_offset_y = -107px;
$feature_icon8_width = 30px;
$feature_icon8_height = 19px;
$feature_icon8_total_width = 234px;
$feature_icon8_total_height = 234px;
$feature_icon8_image = '../images/sprites/sprites.png';
$feature_icon8 = 60px 107px -60px -107px 30px 19px 234px 234px '../images/sprites/sprites.png' 'feature-icon8';
$feature_icon9_name = 'feature-icon9';
$feature_icon9_x = 133px;
$feature_icon9_y = 64px;
$feature_icon9_offset_x = -133px;
$feature_icon9_offset_y = -64px;
$feature_icon9_width = 27px;
$feature_icon9_height = 27px;
$feature_icon9_total_width = 234px;
$feature_icon9_total_height = 234px;
$feature_icon9_image = '../images/sprites/sprites.png';
$feature_icon9 = 133px 64px -133px -64px 27px 27px 234px 234px '../images/sprites/sprites.png' 'feature-icon9';
$inst_color_name = 'inst-color';
$inst_color_x = 0px;
$inst_color_y = 107px;
$inst_color_offset_x = 0px;
$inst_color_offset_y = -107px;
$inst_color_width = 25px;
$inst_color_height = 25px;
$inst_color_total_width = 234px;
$inst_color_total_height = 234px;
$inst_color_image = '../images/sprites/sprites.png';
$inst_color = 0px 107px 0px -107px 25px 25px 234px 234px '../images/sprites/sprites.png' 'inst-color';
$inst_name = 'inst';
$inst_x = 23px;
$inst_y = 214px;
$inst_offset_x = -23px;
$inst_offset_y = -214px;
$inst_width = 18px;
$inst_height = 19px;
$inst_total_width = 234px;
$inst_total_height = 234px;
$inst_image = '../images/sprites/sprites.png';
$inst = 23px 214px -23px -214px 18px 19px 234px 234px '../images/sprites/sprites.png' 'inst';
$list_white_name = 'list-white';
$list_white_x = 46px;
$list_white_y = 214px;
$list_white_offset_x = -46px;
$list_white_offset_y = -214px;
$list_white_width = 18px;
$list_white_height = 17px;
$list_white_total_width = 234px;
$list_white_total_height = 234px;
$list_white_image = '../images/sprites/sprites.png';
$list_white = 46px 214px -46px -214px 18px 17px 234px 234px '../images/sprites/sprites.png' 'list-white';
$list_name = 'list';
$list_x = 69px;
$list_y = 214px;
$list_offset_x = -69px;
$list_offset_y = -214px;
$list_width = 18px;
$list_height = 17px;
$list_total_width = 234px;
$list_total_height = 234px;
$list_image = '../images/sprites/sprites.png';
$list = 69px 214px -69px -214px 18px 17px 234px 234px '../images/sprites/sprites.png' 'list';
$mouse_name = 'mouse';
$mouse_x = 84px;
$mouse_y = 0px;
$mouse_offset_x = -84px;
$mouse_offset_y = 0px;
$mouse_width = 44px;
$mouse_height = 62px;
$mouse_total_width = 234px;
$mouse_total_height = 234px;
$mouse_image = '../images/sprites/sprites.png';
$mouse = 84px 0px -84px 0px 44px 62px 234px 234px '../images/sprites/sprites.png' 'mouse';
$phone_name = 'phone';
$phone_x = 214px;
$phone_y = 50px;
$phone_offset_x = -214px;
$phone_offset_y = -50px;
$phone_width = 19px;
$phone_height = 21px;
$phone_total_width = 234px;
$phone_total_height = 234px;
$phone_image = '../images/sprites/sprites.png';
$phone = 214px 50px -214px -50px 19px 21px 234px 234px '../images/sprites/sprites.png' 'phone';
$system_icon1_hover_name = 'system-icon1-hover';
$system_icon1_hover_x = 25px;
$system_icon1_hover_y = 162px;
$system_icon1_hover_offset_x = -25px;
$system_icon1_hover_offset_y = -162px;
$system_icon1_hover_width = 21px;
$system_icon1_hover_height = 20px;
$system_icon1_hover_total_width = 234px;
$system_icon1_hover_total_height = 234px;
$system_icon1_hover_image = '../images/sprites/sprites.png';
$system_icon1_hover = 25px 162px -25px -162px 21px 20px 234px 234px '../images/sprites/sprites.png' 'system-icon1-hover';
$system_icon1_white_name = 'system-icon1-white';
$system_icon1_white_x = 51px;
$system_icon1_white_y = 162px;
$system_icon1_white_offset_x = -51px;
$system_icon1_white_offset_y = -162px;
$system_icon1_white_width = 21px;
$system_icon1_white_height = 20px;
$system_icon1_white_total_width = 234px;
$system_icon1_white_total_height = 234px;
$system_icon1_white_image = '../images/sprites/sprites.png';
$system_icon1_white = 51px 162px -51px -162px 21px 20px 234px 234px '../images/sprites/sprites.png' 'system-icon1-white';
$system_icon1_name = 'system-icon1';
$system_icon1_x = 77px;
$system_icon1_y = 162px;
$system_icon1_offset_x = -77px;
$system_icon1_offset_y = -162px;
$system_icon1_width = 21px;
$system_icon1_height = 20px;
$system_icon1_total_width = 234px;
$system_icon1_total_height = 234px;
$system_icon1_image = '../images/sprites/sprites.png';
$system_icon1 = 77px 162px -77px -162px 21px 20px 234px 234px '../images/sprites/sprites.png' 'system-icon1';
$system_icon10_hover_name = 'system-icon10-hover';
$system_icon10_hover_x = 103px;
$system_icon10_hover_y = 162px;
$system_icon10_hover_offset_x = -103px;
$system_icon10_hover_offset_y = -162px;
$system_icon10_hover_width = 21px;
$system_icon10_hover_height = 20px;
$system_icon10_hover_total_width = 234px;
$system_icon10_hover_total_height = 234px;
$system_icon10_hover_image = '../images/sprites/sprites.png';
$system_icon10_hover = 103px 162px -103px -162px 21px 20px 234px 234px '../images/sprites/sprites.png' 'system-icon10-hover';
$system_icon10_white_name = 'system-icon10-white';
$system_icon10_white_x = 129px;
$system_icon10_white_y = 162px;
$system_icon10_white_offset_x = -129px;
$system_icon10_white_offset_y = -162px;
$system_icon10_white_width = 21px;
$system_icon10_white_height = 20px;
$system_icon10_white_total_width = 234px;
$system_icon10_white_total_height = 234px;
$system_icon10_white_image = '../images/sprites/sprites.png';
$system_icon10_white = 129px 162px -129px -162px 21px 20px 234px 234px '../images/sprites/sprites.png' 'system-icon10-white';
$system_icon10_name = 'system-icon10';
$system_icon10_x = 155px;
$system_icon10_y = 162px;
$system_icon10_offset_x = -155px;
$system_icon10_offset_y = -162px;
$system_icon10_width = 21px;
$system_icon10_height = 20px;
$system_icon10_total_width = 234px;
$system_icon10_total_height = 234px;
$system_icon10_image = '../images/sprites/sprites.png';
$system_icon10 = 155px 162px -155px -162px 21px 20px 234px 234px '../images/sprites/sprites.png' 'system-icon10';
$system_icon2_hover_name = 'system-icon2-hover';
$system_icon2_hover_x = 75px;
$system_icon2_hover_y = 188px;
$system_icon2_hover_offset_x = -75px;
$system_icon2_hover_offset_y = -188px;
$system_icon2_hover_width = 20px;
$system_icon2_hover_height = 20px;
$system_icon2_hover_total_width = 234px;
$system_icon2_hover_total_height = 234px;
$system_icon2_hover_image = '../images/sprites/sprites.png';
$system_icon2_hover = 75px 188px -75px -188px 20px 20px 234px 234px '../images/sprites/sprites.png' 'system-icon2-hover';
$system_icon2_white_name = 'system-icon2-white';
$system_icon2_white_x = 50px;
$system_icon2_white_y = 188px;
$system_icon2_white_offset_x = -50px;
$system_icon2_white_offset_y = -188px;
$system_icon2_white_width = 20px;
$system_icon2_white_height = 20px;
$system_icon2_white_total_width = 234px;
$system_icon2_white_total_height = 234px;
$system_icon2_white_image = '../images/sprites/sprites.png';
$system_icon2_white = 50px 188px -50px -188px 20px 20px 234px 234px '../images/sprites/sprites.png' 'system-icon2-white';
$system_icon2_name = 'system-icon2';
$system_icon2_x = 181px;
$system_icon2_y = 162px;
$system_icon2_offset_x = -181px;
$system_icon2_offset_y = -162px;
$system_icon2_width = 20px;
$system_icon2_height = 20px;
$system_icon2_total_width = 234px;
$system_icon2_total_height = 234px;
$system_icon2_image = '../images/sprites/sprites.png';
$system_icon2 = 181px 162px -181px -162px 20px 20px 234px 234px '../images/sprites/sprites.png' 'system-icon2';
$system_icon3_hover_name = 'system-icon3-hover';
$system_icon3_hover_x = 146px;
$system_icon3_hover_y = 137px;
$system_icon3_hover_offset_x = -146px;
$system_icon3_hover_offset_y = -137px;
$system_icon3_hover_width = 23px;
$system_icon3_hover_height = 20px;
$system_icon3_hover_total_width = 234px;
$system_icon3_hover_total_height = 234px;
$system_icon3_hover_image = '../images/sprites/sprites.png';
$system_icon3_hover = 146px 137px -146px -137px 23px 20px 234px 234px '../images/sprites/sprites.png' 'system-icon3-hover';
$system_icon3_white_name = 'system-icon3-white';
$system_icon3_white_x = 118px;
$system_icon3_white_y = 137px;
$system_icon3_white_offset_x = -118px;
$system_icon3_white_offset_y = -137px;
$system_icon3_white_width = 23px;
$system_icon3_white_height = 20px;
$system_icon3_white_total_width = 234px;
$system_icon3_white_total_height = 234px;
$system_icon3_white_image = '../images/sprites/sprites.png';
$system_icon3_white = 118px 137px -118px -137px 23px 20px 234px 234px '../images/sprites/sprites.png' 'system-icon3-white';
$system_icon3_name = 'system-icon3';
$system_icon3_x = 90px;
$system_icon3_y = 137px;
$system_icon3_offset_x = -90px;
$system_icon3_offset_y = -137px;
$system_icon3_width = 23px;
$system_icon3_height = 20px;
$system_icon3_total_width = 234px;
$system_icon3_total_height = 234px;
$system_icon3_image = '../images/sprites/sprites.png';
$system_icon3 = 90px 137px -90px -137px 23px 20px 234px 234px '../images/sprites/sprites.png' 'system-icon3';
$system_icon4_hover_name = 'system-icon4-hover';
$system_icon4_hover_x = 100px;
$system_icon4_hover_y = 188px;
$system_icon4_hover_offset_x = -100px;
$system_icon4_hover_offset_y = -188px;
$system_icon4_hover_width = 20px;
$system_icon4_hover_height = 20px;
$system_icon4_hover_total_width = 234px;
$system_icon4_hover_total_height = 234px;
$system_icon4_hover_image = '../images/sprites/sprites.png';
$system_icon4_hover = 100px 188px -100px -188px 20px 20px 234px 234px '../images/sprites/sprites.png' 'system-icon4-hover';
$system_icon4_white_name = 'system-icon4-white';
$system_icon4_white_x = 125px;
$system_icon4_white_y = 188px;
$system_icon4_white_offset_x = -125px;
$system_icon4_white_offset_y = -188px;
$system_icon4_white_width = 20px;
$system_icon4_white_height = 20px;
$system_icon4_white_total_width = 234px;
$system_icon4_white_total_height = 234px;
$system_icon4_white_image = '../images/sprites/sprites.png';
$system_icon4_white = 125px 188px -125px -188px 20px 20px 234px 234px '../images/sprites/sprites.png' 'system-icon4-white';
$system_icon4_name = 'system-icon4';
$system_icon4_x = 150px;
$system_icon4_y = 188px;
$system_icon4_offset_x = -150px;
$system_icon4_offset_y = -188px;
$system_icon4_width = 20px;
$system_icon4_height = 20px;
$system_icon4_total_width = 234px;
$system_icon4_total_height = 234px;
$system_icon4_image = '../images/sprites/sprites.png';
$system_icon4 = 150px 188px -150px -188px 20px 20px 234px 234px '../images/sprites/sprites.png' 'system-icon4';
$system_icon5_hover_name = 'system-icon5-hover';
$system_icon5_hover_x = 214px;
$system_icon5_hover_y = 126px;
$system_icon5_hover_offset_x = -214px;
$system_icon5_hover_offset_y = -126px;
$system_icon5_hover_width = 18px;
$system_icon5_hover_height = 20px;
$system_icon5_hover_total_width = 234px;
$system_icon5_hover_total_height = 234px;
$system_icon5_hover_image = '../images/sprites/sprites.png';
$system_icon5_hover = 214px 126px -214px -126px 18px 20px 234px 234px '../images/sprites/sprites.png' 'system-icon5-hover';
$system_icon5_white_name = 'system-icon5-white';
$system_icon5_white_x = 0px;
$system_icon5_white_y = 214px;
$system_icon5_white_offset_x = 0px;
$system_icon5_white_offset_y = -214px;
$system_icon5_white_width = 18px;
$system_icon5_white_height = 20px;
$system_icon5_white_total_width = 234px;
$system_icon5_white_total_height = 234px;
$system_icon5_white_image = '../images/sprites/sprites.png';
$system_icon5_white = 0px 214px 0px -214px 18px 20px 234px 234px '../images/sprites/sprites.png' 'system-icon5-white';
$system_icon5_name = 'system-icon5';
$system_icon5_x = 214px;
$system_icon5_y = 101px;
$system_icon5_offset_x = -214px;
$system_icon5_offset_y = -101px;
$system_icon5_width = 18px;
$system_icon5_height = 20px;
$system_icon5_total_width = 234px;
$system_icon5_total_height = 234px;
$system_icon5_image = '../images/sprites/sprites.png';
$system_icon5 = 214px 101px -214px -101px 18px 20px 234px 234px '../images/sprites/sprites.png' 'system-icon5';
$system_icon6_hover_name = 'system-icon6-hover';
$system_icon6_hover_x = 214px;
$system_icon6_hover_y = 25px;
$system_icon6_hover_offset_x = -214px;
$system_icon6_hover_offset_y = -25px;
$system_icon6_hover_width = 20px;
$system_icon6_hover_height = 20px;
$system_icon6_hover_total_width = 234px;
$system_icon6_hover_total_height = 234px;
$system_icon6_hover_image = '../images/sprites/sprites.png';
$system_icon6_hover = 214px 25px -214px -25px 20px 20px 234px 234px '../images/sprites/sprites.png' 'system-icon6-hover';
$system_icon6_white_name = 'system-icon6-white';
$system_icon6_white_x = 214px;
$system_icon6_white_y = 0px;
$system_icon6_white_offset_x = -214px;
$system_icon6_white_offset_y = 0px;
$system_icon6_white_width = 20px;
$system_icon6_white_height = 20px;
$system_icon6_white_total_width = 234px;
$system_icon6_white_total_height = 234px;
$system_icon6_white_image = '../images/sprites/sprites.png';
$system_icon6_white = 214px 0px -214px 0px 20px 20px 234px 234px '../images/sprites/sprites.png' 'system-icon6-white';
$system_icon6_name = 'system-icon6';
$system_icon6_x = 175px;
$system_icon6_y = 188px;
$system_icon6_offset_x = -175px;
$system_icon6_offset_y = -188px;
$system_icon6_width = 20px;
$system_icon6_height = 20px;
$system_icon6_total_width = 234px;
$system_icon6_total_height = 234px;
$system_icon6_image = '../images/sprites/sprites.png';
$system_icon6 = 175px 188px -175px -188px 20px 20px 234px 234px '../images/sprites/sprites.png' 'system-icon6';
$system_icon7_hover_name = 'system-icon7-hover';
$system_icon7_hover_x = 60px;
$system_icon7_hover_y = 137px;
$system_icon7_hover_offset_x = -60px;
$system_icon7_hover_offset_y = -137px;
$system_icon7_hover_width = 25px;
$system_icon7_hover_height = 20px;
$system_icon7_hover_total_width = 234px;
$system_icon7_hover_total_height = 234px;
$system_icon7_hover_image = '../images/sprites/sprites.png';
$system_icon7_hover = 60px 137px -60px -137px 25px 20px 234px 234px '../images/sprites/sprites.png' 'system-icon7-hover';
$system_icon7_white_name = 'system-icon7-white';
$system_icon7_white_x = 30px;
$system_icon7_white_y = 137px;
$system_icon7_white_offset_x = -30px;
$system_icon7_white_offset_y = -137px;
$system_icon7_white_width = 25px;
$system_icon7_white_height = 20px;
$system_icon7_white_total_width = 234px;
$system_icon7_white_total_height = 234px;
$system_icon7_white_image = '../images/sprites/sprites.png';
$system_icon7_white = 30px 137px -30px -137px 25px 20px 234px 234px '../images/sprites/sprites.png' 'system-icon7-white';
$system_icon7_name = 'system-icon7';
$system_icon7_x = 0px;
$system_icon7_y = 137px;
$system_icon7_offset_x = 0px;
$system_icon7_offset_y = -137px;
$system_icon7_width = 25px;
$system_icon7_height = 20px;
$system_icon7_total_width = 234px;
$system_icon7_total_height = 234px;
$system_icon7_image = '../images/sprites/sprites.png';
$system_icon7 = 0px 137px 0px -137px 25px 20px 234px 234px '../images/sprites/sprites.png' 'system-icon7';
$system_icon8_hover_name = 'system-icon8-hover';
$system_icon8_hover_x = 0px;
$system_icon8_hover_y = 162px;
$system_icon8_hover_offset_x = 0px;
$system_icon8_hover_offset_y = -162px;
$system_icon8_hover_width = 20px;
$system_icon8_hover_height = 21px;
$system_icon8_hover_total_width = 234px;
$system_icon8_hover_total_height = 234px;
$system_icon8_hover_image = '../images/sprites/sprites.png';
$system_icon8_hover = 0px 162px 0px -162px 20px 21px 234px 234px '../images/sprites/sprites.png' 'system-icon8-hover';
$system_icon8_white_name = 'system-icon8-white';
$system_icon8_white_x = 25px;
$system_icon8_white_y = 188px;
$system_icon8_white_offset_x = -25px;
$system_icon8_white_offset_y = -188px;
$system_icon8_white_width = 20px;
$system_icon8_white_height = 21px;
$system_icon8_white_total_width = 234px;
$system_icon8_white_total_height = 234px;
$system_icon8_white_image = '../images/sprites/sprites.png';
$system_icon8_white = 25px 188px -25px -188px 20px 21px 234px 234px '../images/sprites/sprites.png' 'system-icon8-white';
$system_icon8_name = 'system-icon8';
$system_icon8_x = 0px;
$system_icon8_y = 188px;
$system_icon8_offset_x = 0px;
$system_icon8_offset_y = -188px;
$system_icon8_width = 20px;
$system_icon8_height = 21px;
$system_icon8_total_width = 234px;
$system_icon8_total_height = 234px;
$system_icon8_image = '../images/sprites/sprites.png';
$system_icon8 = 0px 188px 0px -188px 20px 21px 234px 234px '../images/sprites/sprites.png' 'system-icon8';
$system_icon9_hover_name = 'system-icon9-hover';
$system_icon9_hover_x = 214px;
$system_icon9_hover_y = 76px;
$system_icon9_hover_offset_x = -214px;
$system_icon9_hover_offset_y = -76px;
$system_icon9_hover_width = 18px;
$system_icon9_hover_height = 20px;
$system_icon9_hover_total_width = 234px;
$system_icon9_hover_total_height = 234px;
$system_icon9_hover_image = '../images/sprites/sprites.png';
$system_icon9_hover = 214px 76px -214px -76px 18px 20px 234px 234px '../images/sprites/sprites.png' 'system-icon9-hover';
$system_icon9_white_name = 'system-icon9-white';
$system_icon9_white_x = 214px;
$system_icon9_white_y = 176px;
$system_icon9_white_offset_x = -214px;
$system_icon9_white_offset_y = -176px;
$system_icon9_white_width = 18px;
$system_icon9_white_height = 20px;
$system_icon9_white_total_width = 234px;
$system_icon9_white_total_height = 234px;
$system_icon9_white_image = '../images/sprites/sprites.png';
$system_icon9_white = 214px 176px -214px -176px 18px 20px 234px 234px '../images/sprites/sprites.png' 'system-icon9-white';
$system_icon9_name = 'system-icon9';
$system_icon9_x = 214px;
$system_icon9_y = 151px;
$system_icon9_offset_x = -214px;
$system_icon9_offset_y = -151px;
$system_icon9_width = 18px;
$system_icon9_height = 20px;
$system_icon9_total_width = 234px;
$system_icon9_total_height = 234px;
$system_icon9_image = '../images/sprites/sprites.png';
$system_icon9 = 214px 151px -214px -151px 18px 20px 234px 234px '../images/sprites/sprites.png' 'system-icon9';
$triangle_name = 'triangle';
$triangle_x = 192px;
$triangle_y = 0px;
$triangle_offset_x = -192px;
$triangle_offset_y = 0px;
$triangle_width = 17px;
$triangle_height = 28px;
$triangle_total_width = 234px;
$triangle_total_height = 234px;
$triangle_image = '../images/sprites/sprites.png';
$triangle = 192px 0px -192px 0px 17px 28px 234px 234px '../images/sprites/sprites.png' 'triangle';
$user_black_name = 'user-black';
$user_black_x = 192px;
$user_black_y = 81px;
$user_black_offset_x = -192px;
$user_black_offset_y = -81px;
$user_black_width = 16px;
$user_black_height = 19px;
$user_black_total_width = 234px;
$user_black_total_height = 234px;
$user_black_image = '../images/sprites/sprites.png';
$user_black = 192px 81px -192px -81px 16px 19px 234px 234px '../images/sprites/sprites.png' 'user-black';
$user_orange_name = 'user-orange';
$user_orange_x = 192px;
$user_orange_y = 57px;
$user_orange_offset_x = -192px;
$user_orange_offset_y = -57px;
$user_orange_width = 16px;
$user_orange_height = 19px;
$user_orange_total_width = 234px;
$user_orange_total_height = 234px;
$user_orange_image = '../images/sprites/sprites.png';
$user_orange = 192px 57px -192px -57px 16px 19px 234px 234px '../images/sprites/sprites.png' 'user-orange';
$user_name = 'user';
$user_x = 192px;
$user_y = 33px;
$user_offset_x = -192px;
$user_offset_y = -33px;
$user_width = 16px;
$user_height = 19px;
$user_total_width = 234px;
$user_total_height = 234px;
$user_image = '../images/sprites/sprites.png';
$user = 192px 33px -192px -33px 16px 19px 234px 234px '../images/sprites/sprites.png' 'user';
$vk_color_name = 'vk-color';
$vk_color_x = 30px;
$vk_color_y = 107px;
$vk_color_offset_x = -30px;
$vk_color_offset_y = -107px;
$vk_color_width = 25px;
$vk_color_height = 25px;
$vk_color_total_width = 234px;
$vk_color_total_height = 234px;
$vk_color_image = '../images/sprites/sprites.png';
$vk_color = 30px 107px -30px -107px 25px 25px 234px 234px '../images/sprites/sprites.png' 'vk-color';
$vk_name = 'vk';
$vk_x = 95px;
$vk_y = 107px;
$vk_offset_x = -95px;
$vk_offset_y = -107px;
$vk_width = 24px;
$vk_height = 15px;
$vk_total_width = 234px;
$vk_total_height = 234px;
$vk_image = '../images/sprites/sprites.png';
$vk = 95px 107px -95px -107px 24px 15px 234px 234px '../images/sprites/sprites.png' 'vk';
$spritesheet_width = 234px;
$spritesheet_height = 234px;
$spritesheet_image = '../images/sprites/sprites.png';
$spritesheet_sprites = $calendar_white $calendar $check_red $checkbox_checked $checkbox $cross_gray $cross_red $cursor $fb_color $fb $feature_icon1 $feature_icon2 $feature_icon3 $feature_icon4 $feature_icon5 $feature_icon6 $feature_icon7 $feature_icon8 $feature_icon9 $inst_color $inst $list_white $list $mouse $phone $system_icon1_hover $system_icon1_white $system_icon1 $system_icon10_hover $system_icon10_white $system_icon10 $system_icon2_hover $system_icon2_white $system_icon2 $system_icon3_hover $system_icon3_white $system_icon3 $system_icon4_hover $system_icon4_white $system_icon4 $system_icon5_hover $system_icon5_white $system_icon5 $system_icon6_hover $system_icon6_white $system_icon6 $system_icon7_hover $system_icon7_white $system_icon7 $system_icon8_hover $system_icon8_white $system_icon8 $system_icon9_hover $system_icon9_white $system_icon9 $triangle $user_black $user_orange $user $vk_color $vk;
$spritesheet = 234px 234px '../images/sprites/sprites.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
